{% extends "base.html" %}
    {% block content %}
    
    <script src="{{ url_for('static', filename='scripts/websocket_manager.js')}}">
    </script>


    <script src="{{ url_for('static', filename='scripts/constants.js')}}">
    </script>


    <script src="https://pixijs.download/release/pixi.js"></script>


    <script type="module">

 
        const app = new PIXI.Application();

        await app.init({ width: 800, height: 600,
            view: document.getElementById("game-canvas"),
            backgroundColor: "#858163",
        });
        //app.setCanvas(document.getElementById("game-canvas"));
        //document.body.appendChild(app.canvas);

        await PIXI.Assets.load("{{url_for('static', filename='images/table.png')}}");
        let sprite = PIXI.Sprite.from("{{url_for('static', filename='images/table.png')}}");
        app.stage.addChild(sprite);

        await PIXI.Assets.load("{{ url_for('static', filename='images/Cards/diamonds.png')}}")
        let cardSprite = PIXI.Sprite.from("{{ url_for('static', filename='images/Cards/diamonds.png')}}");
        
        
    const atlasData = {
        frames: {
            card1: {
                frame: { x: 0, y:0, w:88, h:124 },
            },

        },
        meta: {
            image: "{{ url_for('static', filename='images/Cards/diamonds.png')}}",
            format: 'RGBA8888',
            size: { w: 352, h: 372 },
            scale: 2
        },
        animations: {
            enemy: ['card1'] //array of frames by name
        }
    }

    console.log(heartsAtlasData);
    const spritesheet = new PIXI.Spritesheet(PIXI.Texture.from(heartsAtlasData.meta.image), heartsAtlasData);
    //console.log(atlasData);
    //const handSpritesheet = new PIXI.Spritesheet(PIXI.Texture.from(handAtlasData.meta.image), handAtlasData);

    await spritesheet.parse();
    //await handSpritesheet.parse();

    //const handCard1 = new PIXI.AnimatedSprite(handSpritesheet.animations.enemy);

    const card1 = new PIXI.AnimatedSprite(spritesheet.animations.cards);
    const card2 = new PIXI.AnimatedSprite(spritesheet.animations.cards);
    const card3 = new PIXI.AnimatedSprite(spritesheet.animations.cards);
    const card4 = new PIXI.AnimatedSprite(spritesheet.animations.cards);
    const card5 = new PIXI.AnimatedSprite(spritesheet.animations.cards);

    card1.width = card1.width * 0.5;
    
    card2.currentFrame = 1;
    card3.currentFrame = 2;
    card4.currentFrame = 3;
    card5.currentFrame = 4;


    const baseBoardOffset = 275;

    //handCard1.y = 400;
    

    card1.x = baseBoardOffset;
    card1.y = 250;

    card2.y = 250;
    card3.y = 250;
    card4.y = 250;
    card5.y = 250;

    card2.x = baseBoardOffset + 50;
    card3.x = baseBoardOffset + (50 *2);
    card4.x = baseBoardOffset + (50 *3);
    card5.x = baseBoardOffset + (50 *4);


    app.stage.addChild(card1, card2, card3, card4, card5);





    </script>


    <script>
        //const websockeAddress = "ws://127.0.0.1:4201";
        const username = "{{user}}";
        const room_id = {{room_id}};

        var notificationAudio = new Audio("{{ url_for('static', filename='sfx/notification.mp3')}}");


        function addToChatBox(message)
        {
            $("#chat-box").append("<p>" + message + "</p>");
            let bottomElement = $("chat-box").children[-1];
            
            notificationAudio.play();
            $("#chat-box").animate({scrollTop: 50000}, 500);
            //$("#chat-box").scrollTop($("chat-box")[0].scrollHeight - $("chat-box")[0].clientHeight);
            //$("#chat-box").scroll()
        }

        function updatePlayers(roomData)
        {
            $("#players-list").empty();
            console.log($("#players-list").children.length)

            for (let i = 0; i < roomData.connected_users.length; i++)
            {
                $("#players-list").append('<li>' + roomData.connected_users[i] + "</li>");
            }
        }

        function gameUpdate(gameData)
        {
            if (gameData.player_seat != null)
            {
                $("#join-table").hide()
            }
            else
            {
                $("#join-table").show()
            }
        }

        let websocketManager = new WebsocketManager("10.1.76.8", "4201", addToChatBox, updatePlayers, gameUpdate);

        async function sendChatMessage()
        {
            console.log("clicked");
            let message = $("#message-input").val();
            if (!message.empty)
            {
                console.log(message);
                await websocketManager.sendWebsocketMessage({"type":"chat_message", "room_id":room_id, "username":username, "message": message});

                $("#message-input").val('');
            }
        }    
    
        websocketManager.joinRoomWithUsername();


    </script>


    <div class="container">
        <div class="row">
            <h3>
                Room: {{ room_id }}
            </h3>
        </div>

        <div class="row">
            <div class="col">
                <div id="canvas-div">
                    <canvas id="game-canvas" style="border:1px solid black;" height="450" width="800"></canvas>
                    <button id="join-table" class="btn btn-primary" onclick="websocketManager.requestSeat()">Take Seat</button>
                    <button id="bet-button" class="btn btn-primary">Bet</button>
                    <button id="check" class="btn btn-primary">Check</button>
                    <button id="fold" class="btn btn-primary">Fold</button>
                </div>
            </div>

            <div class="col-4">
                <div class="row">
                    <div id="chat-box" style="border:1px solid black;height:250px;width:100%;overflow-y:scroll;overflow-x:scroll;">
                    </div>
                    <input type="input" id="message-input" placeholder="Chat..."></input>
                    <button type="button" class="btn btn-primary" onclick="sendChatMessage()">Send</button>
                </div>
                <br>
                <div class="row">
                    Connected users:
                    <ul id="players-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="display:none;">
        <img id="table-image" src="{{ url_for('static', filename='images/poker-table.jpg') }}" width="800" height="600" />
    </div>

    

    <script>
       
        // const canvas = document.getElementById("game-canvas");
        // const ctx = canvas.getContext("2d");

        // var game = new Game("{{ url_for('static', filename='') }}", canvas);
        // game.drawTable(ctx);
    </script>
  {% endblock %}