{% extends "base.html" %}
    {% block content %}
    
    <script src="{{ url_for('static', filename='scripts/websocket_manager.js')}}">
    </script>


    <script src="{{ url_for('static', filename='scripts/constants.js')}}">
    </script>

    <!-- <script type="module", src="{{ url_for('static', filename='scripts/game.js')}}"></script> -->

    <script src="https://pixijs.download/release/pixi.js"></script>
    <script>
        let app;

        let spadesSS;
        let clubsSS;
        let diamondsSS;
        let heartsSS;

        let chipsSS;

    </script>


    <div class="container">
        <div class="row">
            <div class="col">
            <h3>
                Room: {{ room_id }}
            </h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="canvas-div">
                    <canvas id="game-canvas" style="border:1px solid black;" height="450" width="800"></canvas>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div id="chat-box" style="border:1px solid black;height:250px;width:100%;overflow-y:scroll;overflow-x:scroll;">
                    </div>
                    <input type="input" id="message-input" placeholder="Chat..."></input>
                    <button type="button" class="btn btn-primary" onclick="sendChatMessage()">Send</button>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        Connected users:
                        <ul id="players-list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button id="join-table" class="btn btn-primary" onclick="websocketManager.requestSeat()">Take Seat</button>
                <button id="bet-button" class="bet btn btn-primary">Bet</button>
                <input class="bet" id="bet-input" type="number" min="0">
                <button id="check" class="btn btn-primary" onclick="check()" >Check</button>
                <button id="fold" class="btn btn-primary" onclick="fold()">Fold</button>
                <button id="call" class="btn btn-primary" onclick="call()">Call</button>
            </div>
        </div>
        
    </div>

    <div style="display:none;">
        <img id="table-image" src="{{ url_for('static', filename='images/poker-table.jpg') }}" width="800" height="600" />
    </div>




    <script>
        $(".bet").hide();
        $("#check").hide();
        $("#fold").hide();
        $("#call").hide();

        $("#message-input").on('keypress',function(e) {
            if(e.which == 13) {
                sendChatMessage();
            }
        });

        app = new PIXI.Application();

        app.init({ width: 800, height: 600,
            view: document.getElementById("game-canvas"),
            backgroundColor: "#858163",
            antialias: true,
        });

        //const websockeAddress = "ws://127.0.0.1:4201";

        // console.log(2)
        // console.log(app);


        const username = "{{user}}";
        const room_id = {{room_id}};

        var notificationAudio = new Audio("{{ url_for('static', filename='sfx/notification.mp3')}}");

        function getAnimationForFace(face)
        {
            switch (face)
            {
                case "c":
                    return clubsSS;
                case "d":
                    return diamondsSS;
                case "h":
                    return heartsSS;
                case "s":
                    return spadesSS;
                case "X":
                    return null;
            }
        }

        function drawBoard(board)
        {
            for (let i = 0; i < board.length; i++)
            {
                let cardData = board[i];
                let cardFace = getAnimationForFace(cardData.face);
                let cardVal = getFrameFromValue(cardData.value);

                let card = new PIXI.AnimatedSprite(cardFace.animations.cards);
                card.currentFrame = cardVal;

                card.width *= 0.5;
                card.height *= 0.5;
                card.x = 275 + (50*i);
                card.y = 250;
                
                app.stage.addChild(card);
            }
        }

        function drawPlayerHand(hand)
        {
            let handOneData = hand[0];
            let handTwoData = hand[1];

            let handOneFace = getAnimationForFace(handOneData.face);
            let handTwoFace  = getAnimationForFace(handTwoData.face);

            let handOneVal = getFrameFromValue(handOneData.value);
            let handTwoVal = getFrameFromValue(handTwoData.value);

            if (handOneFace != null)
            {
                const hand1 = new PIXI.AnimatedSprite(handOneFace.animations.cards);
                hand1.y = 424;
                hand1.x = 312;

                // const hand1 = new PIXI.AnimatedSprite(clubsSS.animations.cards);
                // const hand2 = new PIXI.AnimatedSprite(spadesSS.animations.cards);


                // hand1.y = 424;
                // hand2.y = 424;

                // hand1.x = 312;
                // hand2.x = 312 +88;

                hand1.currentFrame = handOneVal;
                app.stage.addChild(hand1);
            }


            if (handTwoFace != null)
            {
                const hand2 = new PIXI.AnimatedSprite(handTwoFace.animations.cards);
                hand2.y = 424;
                hand2.x = 312 + 88;

                hand2.currentFrame = handTwoVal;
                app.stage.addChild(hand2);
            }

        }


        function drawGameScreen()
        {
        for (var i = app.stage.children.length - 1; i >= 0; i--) {	app.stage.removeChild(app.stage.children[i]);};

        const gr  = new PIXI.Graphics();

        playerLocations.forEach((playerLoc) => {
        gr.beginFill(0xffffff);
        gr.drawCircle(100+playerLoc.x, 100+playerLoc.y, 45);
        gr.endFill();


        app.stage.addChild(gr)
        });
        let sprite = PIXI.Sprite.from("/images/table.png");

        //console.log(sprite);

        app.stage.addChild(sprite);


        try
        {

        const card1 = new PIXI.AnimatedSprite(heartsSS.animations.cards);
        const card2 = new PIXI.AnimatedSprite(diamondsSS.animations.cards);
        const card3 = new PIXI.AnimatedSprite(clubsSS.animations.cards);
        const card4 = new PIXI.AnimatedSprite(spadesSS.animations.cards);
        const card5 = new PIXI.AnimatedSprite(diamondsSS.animations.cards);
    
        for (let i = 0; i<10; i++)
        {
            const chip = new PIXI.AnimatedSprite(chipsSS.animations.chips);
            chip.x = 200;
            chip.y = (i*15) + 200;
            
            chip.width *= 0.25;
            chip.height *= 0.25;
            app.stage.addChild(chip);

            //console.log(chip);
        }
      
        // const hand1 = new PIXI.AnimatedSprite(clubsSS.animations.cards);
        // const hand2 = new PIXI.AnimatedSprite(spadesSS.animations.cards);


        // hand1.y = 424;
        // hand2.y = 424;

        // hand1.x = 312;
        // hand2.x = 312 +88;



        // const cards = [card1, card2, card3, card4, card5]

        // cards.forEach((card)=>{
        // card.width *= 0.5;
        // card.height *= 0.5;
        // });

        // card2.currentFrame = 1;
        // card3.currentFrame = 2;
        // card4.currentFrame = 3;
        // card5.currentFrame = 4;


        // const baseBoardOffset = 275;

        // //handCard1.y = 400;


        // card1.x = baseBoardOffset;
        // card1.y = 250;

        // card2.y = 250;
        // card3.y = 250;
        // card4.y = 250;
        // card5.y = 250;

        // card2.x = baseBoardOffset + 50;
        // card3.x = baseBoardOffset + (50 *2);
        // card4.x = baseBoardOffset + (50 *3);
        // card5.x = baseBoardOffset + (50 *4);


        // app.stage.addChild(card1, card2, card3, card4, card5);

        // app.stage.addChild(hand1, hand2);
        // app.stage.addChild(chip1);

        
        } catch (catchException)
        {

        }
        }

        function addToChatBox(message)
        {
            $("#chat-box").append("<p>" + message + "</p>");
            let bottomElement = $("chat-box").children[-1];
            
            notificationAudio.play();
            $("#chat-box").animate({scrollTop: 50000}, 500);
            //$("#chat-box").scrollTop($("chat-box")[0].scrollHeight - $("chat-box")[0].clientHeight);
            //$("#chat-box").scroll()
        }

        function updatePlayers(roomData)
        {
            $("#players-list").empty();
            console.log($("#players-list").children.length)

            for (let i = 0; i < roomData.connected_users.length; i++)
            {
                $("#players-list").append('<li>' + roomData.connected_users[i] + "</li>");
            }
        }

        function gameUpdate(gameData)
        {
            drawGameScreen();

            let playerBet = `Your Bet: $${gameData.player_seat.player.current_bet}`;
            let playerBetText = new PIXI.Text(playerBet, {fontFamily : 'Helvetica', fontSize: 22, fill : 0xffffff, stroke: 0x000000}, document.getElementById("game-canvas"));
            
            let potText = new PIXI.Text(gameData.pot, {fontFamily : 'Helvetica', fontSize: 22, fill : 0xffffff, stroke: 0x000000}, document.getElementById("game-canvas"));
            
            
            potText.width *= 0.85;
            potText.height *= 0.85;

            potText.x = 300 - (potText.width/2);
            potText.y = 350;

            playerBetText.y = 500;

            app.stage.addChild(playerBetText, potText);


            drawBoard(gameData.board);

            for (let i = 0; i < gameData.seats.length; i++)
            {
                var playerName = "Empty";
                var betAmount = "";

                let textColor = 0xe036c1;


                if (gameData.seats[i].player != null)
                {
                    playerName =  gameData.seats[i].player.user;

                    if (gameData.seats[i].is_current_turn)
                    {
                        textColor = 0xf5d442;
                    }

                    betAmount = `$${gameData.seats[i].player.current_bet}`

                }

                var loc = playerLocations[i];
                

                let nameText = new PIXI.Text(playerName,{fontFamily : 'Helvetica', fontSize: 22, fill : textColor, stroke: 0x35383b}, document.getElementById("game-canvas"));
                let betText = new PIXI.Text(betAmount,{fontFamily : 'Helvetica', fontSize: 22, fill : textColor, stroke: 0x35383b}, document.getElementById("game-canvas"));
                

                try{
                var offset;
                if (loc.x > 400)
                {
                    offset = 50 +  nameText.width;
                }
                else
                {
                    offset = 120 - nameText.width
                }

                nameText.width *= 0.75;
                nameText.height *= 0.75;

                
                nameText.x = loc.x+offset;
                nameText.y = loc.y+60;

                betText.x = loc.x +80;
                betText.y = loc.y+100;

                app.stage.addChild(nameText, betText);
                } catch (exception)
                {
                    console.log(exception);
                }
            }

            //app.stage.clear()
            if (gameData.player_seat != null)
            {
                $("#join-table").hide();
                
                if (gameData.player_seat.player.hand != null)
                {
                drawPlayerHand(gameData.player_seat.player.hand);
                }
            }
            else
            {
                $("#join-table").show();
            }

            $(".bet").hide();
            $("#check").hide();
            $("#fold").hide();
            $("#call").hide();

            if (gameData.player_seat.is_current_turn)
            {
                let callText = text = `Call $${gameData.highest_bet - gameData.player_seat.player.current_bet}`;
                
                //$("#call").prop("value", callText);
                $("#call").text(callText);
                console.log(callText);
                gameData.player_seat.play_options.forEach((play_option)=> {
                    if (play_option == "fold")
                    {
                        $("#fold").show();
                    }
                    if (play_option == "bet")
                    {
                        $(".bet").show();
                    }
                    if (play_option == "check")
                    {
                        $("#check").show();
                    }
                    if (play_option == "call")
                    {
                        $("#call").show();
                    }
                    // switch (play_option)
                    // {http://127.0.0.1:5000/room/116550/1http://127.0.0.1:5000/room/116550/1
                    //     case "fold":

                    //     case "bet":
                    //         $("#bet-button").show();
                    //     case "check":
                    //         $("#check").show()
                    // }
                });
            }

            //gameData.
        }

        let websocketManager = new WebsocketManager("10.1.76.8", "4201", addToChatBox, updatePlayers, gameUpdate);

        async function sendChatMessage()
        {
            //console.log("clicked");
            let message = $("#message-input").val();
            if (message != "")
            {
                //console.log(message);
                await websocketManager.sendWebsocketMessage({"type":"chat_message", "room_id":room_id, "username":username, "message": message});

                $("#message-input").val('');
            }
        }
        
        async function fold()
        {
            playerAction = {"play_option": "fold"};
            await websocketManager.sendWebsocketMessage({"type": "player_action", "room_id":room_id, "username":username, "action": playerAction});
        }

        async function check()
        {
            playerAction = {"play_option": "check"};
            await websocketManager.sendWebsocketMessage({"type": "player_action", "room_id":room_id, "username":username, "action": playerAction});
        }

        async function call()
        {
            playerAction = {"play_option": "call"};
            await websocketManager.sendWebsocketMessage({"type": "player_action", "room_id":room_id, "username":username, "action": playerAction});
        }

        async function bet()
        {

        }

        async function raise()
        {

        }
    
        websocketManager.joinRoomWithUsername();


        drawGameScreen();
    </script>


<script type="module">

    //console.log(1)
    //app.setCanvas(document.getElementById("game-canvas"));
    //document.body.appendChild(app.canvas);
    
    
    await PIXI.Assets.load("/images/table.png");
    
    await PIXI.Assets.load("{{ url_for('static', filename='images/Cards/diamonds.png')}}")
    await PIXI.Assets.load("{{ url_for('static', filename='images/Cards/hearts.png')}}")
    await PIXI.Assets.load("{{ url_for('static', filename='images/Cards/spades.png')}}")
    await PIXI.Assets.load("{{ url_for('static', filename='images/Cards/clubs.png')}}")

    await PIXI.Assets.load("{{ url_for('static', filename='images/Chips/chips.png') }}")
    
    //console.log(heartsAtlasData);
    heartsSS = new PIXI.Spritesheet(PIXI.Texture.from(heartsAtlasData.meta.image), heartsAtlasData);
    diamondsSS = new PIXI.Spritesheet(PIXI.Texture.from(diamondsAtlasData.meta.image), diamondsAtlasData);
    clubsSS = new PIXI.Spritesheet(PIXI.Texture.from(clubsAtlasData.meta.image), clubsAtlasData);
    spadesSS = new PIXI.Spritesheet(PIXI.Texture.from(spadesAtlasData.meta.image), spadesAtlasData);

    chipsSS = new PIXI.Spritesheet(PIXI.Texture.from(chipsAtlasData.meta.image), chipsAtlasData);
    // load the fonts
    await PIXI.Assets.load('/fonts/Helvetica.ttf');
    
    
    //console.log(atlasData);
    //const handSpritesheet = new PIXI.Spritesheet(PIXI.Texture.from(handAtlasData.meta.image), handAtlasData);
    
    await heartsSS.parse();
    await diamondsSS.parse();
    await clubsSS.parse();
    await spadesSS.parse();

    await chipsSS.parse();


    //await handSpritesheet.parse();
    
    //const handCard1 = new PIXI.AnimatedSprite(handSpritesheet.animations.enemy);
    
    // const text = new Text({
    //                 text: playerName,
    //                 style:{
    //                     fontFamily: 'Helvetica'
    //                 }
    //                 });
    
    //                 text.x = loc.x;
    //                 text.y = loc.y;
    //                 app.stage.addChild(text);
    drawGameScreen();
</script>

  {% endblock %}